.bottom {
    background: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .product__link{
    @media screen and (min-width: 1200px) {
    margin-bottom: 20px;
  }}
  // .code {
  //   margin-bottom: 20px;
  //   display: inline-block;
  // }
  .product__logotype-left {
    color: $acent-color;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
  }
  .product__logotype-right {
    color: $third-text-color;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
  }
  .product__text {
    color: $fon-color;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
    transition: color 250ms $animation-cubic-bezier;
  
  &:hover {
    color: $third-text-color;
  }}
  .product__text:focus {
    color: $third-text-color;
  }
  .product__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 2;
    color: $fon-color;
    transition: color 250ms $animation-cubic-bezier;
  
  &:hover {
    color: $third-text-color;
  }}
  .product__link:focus {
    color: $third-text-color;
  }
  .product__phone {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 2;
    color: $fon-color;
    transition: color 250ms $animation-cubic-bezier;
  
  &:hover {
    color: $third-text-color;
  }
  &:focus {
    color: $third-text-color;
    }}
  // .footer__items{
  //   width: 206px;
    
  // }
  









  
  .bottom__container  {
   text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;

    text-align: start;
  }
}
.product{
   
    @media screen and (min-width: 768px) {
      margin-right: 165px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: column;
      margin-right: 70px;
    }
  }
  .product__wrap {
    margin-bottom: 50px;
  
    @media screen and (min-width: 480px) and (max-width: 1199px) {
      margin-bottom: 60px;
    }
  }
  
 .product__list:not(:last-child) {
  margin-bottom: 8px;
}
.product__text{
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;

  transition: color 250ms $animation-cubic-bezier;

  &:hover,
  &:focus {
    color: #ffffff;
  }
}
.footer__items{
  margin-bottom: 50px;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    flex-direction: column;
  }

  .footer__text {
    margin-bottom: 20px;

    color: #ffffff;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  .footer {
    display: flex;
    justify-content: center;
  }

  .footer__block:not(:last-child) {
    margin-right: 10px;
  }

  .footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.1);
    fill: #FFFFFF;

    @media screen and (min-width: 1200px) {
      transition: background-color 250ms $animation-cubic-bezier;

      &:hover,
      &:focus {
        background-color: $acent-color;
      }
    }
  }
}
.footer__icon{
  width: 20px;
  height: 20px;
}
.third{
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    margin-left: 93px;
  }
}
.third__text{
  margin-bottom: 20px;

  color:#ffffff ;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.third-form
{
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
  }
}

.third-form__inner{
  display: inline-block;
  margin-bottom: 20px;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }
}
.third-form__input{
  padding-top: 15px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 16px;

  width: 280px;

  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;

  font-size: 16px;
  line-height: 1.25;

  outline: none;

  border: 1px solid rgba(255, 255, 255, 0.3);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.third-form__btn{
  width: 200px;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}
.third-form__svg{
  margin-left: 10px;

  width: 24px;
  height: 24px;

  fill: #ffffff;

}


 