.bottom {
    background: #2f303a;
    padding: 60px 0;
  }
  .code {
    margin-bottom: 20px;
    display: block;
  }
  .product__logotype-left {
    color: $acent-color;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
  }
  .product__logotype-right {
    color: $third-text-color;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
  }
  .product__text {
    color: $fon-color;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
    transition: color 250ms $animation-cubic-bezier;
  
  &:hover {
    color: $third-text-color;
  }}
  .product__text:focus {
    color: $third-text-color;
  }
  .product__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 2;
    color: $fon-color;
    transition: color 250ms $animation-cubic-bezier;
  
  &:hover {
    color: $third-text-color;
  }}
  .product__link:focus {
    color: $third-text-color;
  }
  .product__phone {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 2;
    color: $fon-color;
    transition: color 250ms $animation-cubic-bezier;
  
  &:hover {
    color: $third-text-color;
  }
  &:focus {
    color: $third-text-color;
    }}
  .footer__items{
    width: 206px;
    
  }
  
  .bottom__container {
    display: flex;
  align-items:baseline;
  justify-content: space-between;
  }
  
  .footer {
    display: flex;
    padding-top: 20px;
  }
  .footer__text {
      width: 700px;
    line-height: 1.72;
    size: 14px;
    color: $third-text-color;
  }
  .footer__block:not(:last-child)
  {
    margin-right: 10px;
  }
  .footer__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    fill: $fill;
   background-color:rgba(255, 255, 255, 0.1);
   transition: background-color 250ms $animation-cubic-bezier,
   fill 250ms $animation-cubic-bezier, box-shadow 250ms $animation-cubic-bezier;
      &:hover,
      &:focus {
     background-color: $acent-color;
     fill: $third-text-color;
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
       0px 2px 2px rgba(0, 0, 0, 0.12);
   }
  }
  
  
  .footer__icon {
    width: 20px;
    height: 20px;}
  
    .third {
      display: flex;
      flex-direction: column;
      align-items: baseline;
    
    
    }
    
  
  
  
    .third__text {
      margin-bottom: 20px;
         
        font-weight: 700px;
      size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      color: $third-text-color;
      
    }
    
    .third-form__inner {
      margin-right: 12px;
    }
    
    .third-form__input {
      padding-top: 15px;
      padding-right: 5px;
      padding-bottom: 15px;
      padding-left: 16px;
    
      min-width: 358px;
    
      color: rgba(255, 255, 255, 0.6);
      background-color: transparent;
    
      font-size: 16px;
      line-height: 1.25;
    
      outline: none;
    
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    }
    
    .third-form__btn {
      display: inline-flex;
      align-items: center;
    
      padding-top: 10px;
      padding-right: 28px;
      padding-bottom: 10px;
      padding-left: 29px;
    
      border: 1px solid transparent;
    }
    
    .third-form__svg {
      margin-left: 10px;
    
      width: 24px;
      height: 24px;
      fill: $third-text-color;
    
      
  
  }