.upmain {
  min-width: 320px;
  height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2f303a;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-mob-1x.jpg");
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('');
    }
  }

  @media screen and (min-width: 480px) {
    min-width: 480px;
  }

  @media screen and (min-width: 768px) {
    min-width: 768px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-tab-1x.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url('../images/hero-tab-2x.jpg');
      }
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-position: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-desc-1x.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url('../images/hero-desc-2x.jpg');
      }
    }
  }

    &__title {
      margin-bottom: 30px;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: $third-text-color;
    }
    &__button {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 32px;
      padding-right: 32px;
      border-radius: 4px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      background-color: $acent-color;
      color: $third-text-color;
      font-family: Roboto;
      font-weight: bold;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.06em;
      transition: box-shadow 250ms $animation-cubic-bezier;
      cursor: pointer;
    }
  }
  

  