.gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery__list {
    width: calc((100% - 60px) / 3);
    
    background-color: $third-text-color;
    transition: box-shadow 250ms $animation-cubic-bezier;
  
  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  
  }
  &:hover {
    border: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }}
  
  .gallery__inner {
    position: relative;
    overflow: hidden;
    }
  
  .gallery__block {
    position: absolute;
    top: 0;
    padding-bottom: 63px;
    padding-left: 24px;
    min-height: 294px;
    padding-top: 63px;
    padding-right: 24px;
   
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms $animation-cubic-bezier,
    opacity 250ms $animation-cubic-bezier, box-shadow 250ms $animation-cubic-bezier;
    opacity: 0;
  
  
  &--text {
    color: $third-text-color;
    font-size: 18px;
    line-height: 1.55;
  }}
  
  
  
  .gallery__list:hover .gallery__block {
    transform: translateY(0);
    opacity: 1;
  }
  
  
  
  
  .gallery__content {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    background-color: $third-text-color;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
  }
  
  .gallery__item {
    color: $main-text-color;
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }
  .gallery__text {
    color: $second-text-color;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
  }
  