body {
    color: $main-text-color;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
  }
  .button {
    cursor: pointer;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
    margin: 0 auto;
  }
  .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: 480px) {
      width: 480px;
    }
  
    @media screen and (min-width: 768px) {
      width: 768px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  .upmain__button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: $acent-color;
    color: $third-text-color;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    transition: box-shadow 250ms $animation-cubic-bezier;
 
}