
    $main-text-color: #212121;
    $second-text-color: #757575;
    $third-text-color: #ffffff;
    $acent-color: #2196f3;
    $other-color: #000000;
    $fon-color: rgba(255, 255, 255, 0.6);
    $animation-cubic-bezier:cubic-bezier(0.4, 0, 0.2, 1);
    $fill:#afb1b8;
  